#kt_app_toolbar {}

#kt_app_toolbar h1.page-heading {}

/* ------------------------------ card buttons ------------------------------ */

.card>.card-buttons {
    margin-top: -5px;
    padding-top: 0;
    padding-bottom: 0;
}

.card>.card-buttons .btn {
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-top: 2px;
    margin-bottom: 2px;
}

.card>.card-buttons .btn.data-count {
    padding-left: 0 !important;
    padding-right: 10px !important;
}

.card>.card-buttons .btn.btn-filter {
    margin-right: 10px;
}

.card>.card-buttons .btn.btn-filter i {
    padding: 0 !important;
}

/* ------------------------------- table-index ------------------------------ */

.card>.card-body table {
    margin-bottom: 0;
}

.card>.card-body table.table-index thead tr {
    background-color: #f1f1f1;
    border-bottom: solid 1px #bbb;
    font-weight: bold;
}

.card>.card-body table.table-index thead tr th {
    color: var(--kt-dark);
}

.card>.card-body table.table-index tbody tr {
    border-bottom: solid 1px #eee;
}

.card>.card-body table.table-index tbody tr:last-child {
    border-bottom: none;
}

.card>.card-body table.table-index tbody tr:hover {
    background-color: #f9f9f9;
}

.card>.card-body table.table-index thead tr th:first-child,
.card>.card-body table.table-index tbody tr td:first-child {
    padding-left: 10px;
}

.card>.card-body table.table-index thead tr th:last-child,
.card>.card-body table.table-index tbody tr td:last-child {
    padding-right: 10px;
}

.card>.card-body .table-responsive>table.table-index thead tr th,
.card>.card-body .table-responsive>table.table-index tbody tr td {
    white-space: nowrap;
}

.card>.card-body table.table-index tbody tr td.col-btn1 {
    text-align: right;
    width: 40px;
    white-space: nowrap;
}

.card>.card-body table.table-index tbody tr td.col-btn2 {
    text-align: right;
    width: 60px;
    white-space: nowrap;
}

.card>.card-body table.table-index tbody tr td.col-btn3 {
    text-align: right;
    width: 80px;
    white-space: nowrap;
}

.card>.card-body table.table-index tbody tr td.col-btn1 a,
.card>.card-body table.table-index tbody tr td.col-btn2 a,
.card>.card-body table.table-index tbody tr td.col-btn3 a {
    margin-left: 8px;
}

.card>.card-body table.table-index tbody tr td.col-btn1 a:first-child,
.card>.card-body table.table-index tbody tr td.col-btn2 a:first-child,
.card>.card-body table.table-index tbody tr td.col-btn3 a:first-child {
    margin-left: 0;
}

.card>.card-body table.table-index tbody tr:hover td.col-btn1 a i,
.card>.card-body table.table-index tbody tr:hover td.col-btn2 a i,
.card>.card-body table.table-index tbody tr:hover td.col-btn3 a i {
    color: var(--kt-primary);
}

/* ------------------------------ table-detail ------------------------------ */

.card>.card-body table.table-detail tbody tr th {
    font-weight: normal;
    color: #999;
}

.card>.card-body table.table-detail tbody tr {
    border-bottom: solid 1px #efefef;
}

.card>.card-body table.table-detail tbody tr:hover {
    background-color: #f9f9f9;
}

/* ------------------------------- modal form ------------------------------- */
.modal .modal-body #formContainer form .form-error {
    margin-top: 20px;
}

.modal .modal-body #formContainer form .form-buttons {
    text-align: right;
    margin-top: 30px;
}